
.vscode/
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.cmd
hook.ko
hook.mod*
Module.symvers
modules.order
linux/client/client
linux/client/getfd

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
